<div class="container">
    <div class="row justify-content-between">
        <div class="col-auto">
            &copy; @DateTime.Now.Year - Kaleb Garrett
        </div>

        <div class="col-auto pl-sm-2">
            <a class="px-2 icon-effect" href="https://www.linkedin.com/in/kalebgarrett/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin" style="color: #1797ff; font-size: 24px;"></i>
            </a>
            <a class="px-2 icon-effect" href="https://github.com/KalebGarrett" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github" style="color: #1797ff; font-size: 24px;"></i>
            </a>
        </div>
    </div>
</div>