<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand d-flex justify-content-start garrett-anchor" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="../img/garrett-logo-2.png" alt="G" style="height: 42px"/><span class="align-self-center d-none d-sm-block">arrett</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark anchor-links navbar-anchor-links" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark anchor-links navbar-anchor-links" href="#" id="skillsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Expertise
                    </a>
                    <div class="dropdown-menu" aria-labelledby="skillsDropdown">
                        <a class="dropdown-item" href="https://kalebgarrett.azurewebsites.net/#skills">Skills</a>
                        <a class="dropdown-item" href="https://kalebgarrett.azurewebsites.net/#technologies">Technologies</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark anchor-links navbar-anchor-links" asp-area="" asp-controller="Home" asp-action="About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark anchor-links navbar-anchor-links" asp-area="" asp-controller="Home" asp-action="Project">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark anchor-links navbar-anchor-links" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav justify-content-end">
            <div class="nav-item">
                <button type="submit" class="btn btn-primary resume-btn">Resume</button>
            </div>
        </div>
    </div>
</nav>