<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand d-flex justify-content-start garrett-anchor" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="../img/garrett-logo.png" alt="G" style="height: 42px"/><span class="align-self-center d-none d-sm-block">arrett</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark anchor-links" asp-area="" asp-controller="Home" asp-action="Index" style="color: white !important">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark anchor-links" asp-area="" asp-controller="Home" asp-action="About" style="color: white !important;">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark anchor-links" asp-area="" asp-controller="Home" asp-action="Project" style="color: white !important">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark anchor-links" asp-area="" asp-controller="Home" asp-action="Contact" style="color: white !important">Contact</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav justify-content-end">
            <div class="nav-item">
                <button type="submit" class="btn btn-warning resume-btn" onclick="window.open('/docs/Garrett-Resume-2023.pdf')">Resume</button>
            </div>
        </div>
    </div>
</nav>