.title-row {
    margin-top: 8rem;
    height: 75%;
    padding-bottom: 6rem
}

.title-text {
    color: white;
    font-size: 84px;
    font-weight: lighter;
}

.passion-statement {
    font-size: 28px;
    color: white;
    font-weight: normal;
}

.skill-section {
    margin-top: 40rem;
    padding: 75px;
    background-color: #1a1e21;
}

.skill-bar-title {
    font-size: 48px;
}

.circular-progress {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(#1797ff 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #1a1e21;
}

.progress-value {
    position: relative;
    font-size: 40px;
    font-weight: normal;
    color: #ffffff;
}

.skill-bar-text {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #ffc107;
    font-size: 25px;
    font-weight: normal;    
}

.transparent-bg {
    background-color: hsla(0,3%,9%,70%);
    padding: 75px;
}