html {
    font-size: 14px;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

* {
    font-family: Inter, serif;
}

.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: #4a4848;
}

.main {
    margin-top: 75px;
}

a {
    font-size: 15px;
    cursor: pointer;
}

.anchor-links {
    display: inline-block;
    position: relative;
    color: #f0ad4e;
}

.anchor-links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f0ad4e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.anchor-links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.resume-btn {
    color: white;
    cursor: pointer;
    border: none;
    transition: all .5s ease-in-out;
}

.resume-btn:hover {
    color: white;
    transform: scale(1.05);
    opacity: 0.8;
    text-decoration: none;
}

.resume-btn:active {
    opacity: 0.5;
}

.resume-btn:focus {
    outline: none;
}

.title-text {
    color: white;
    font-size: 64px;
    font-weight: lighter;
}

.passion-statement {
    font-size: 28px;
    color: white;
    font-weight: normal;
}

.profile-pic {
    width: 192px;
    height: 192px;
    border-radius: 50%;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("../img/bg-stars.gif");
    background-attachment: fixed;
    background-repeat: repeat;
    border: hidden;
}

.transparent-bg {
    background-color: hsla(0,3%,9%,59%);
    /* Fix width */
    width: 100% !important;
    padding: 50px 0px;
}

footer {
    color: white;
    background-color: #4a4848;
    width: 100%;
}

.icon-effect {
    text-decoration: none;
}

.icon-effect:hover {
    opacity: 0.8;
    text-decoration: none;
}

.icon-effect:active {
    opacity: 0.5;
}

.icon-effect:focus {
    outline: none;
}

.gray-content-box {
    padding-bottom: 2rem;
    background-color: #1a1e21;
    border-radius: 25px;
}

.card-padding {
    row-gap: 2em; 
    padding-bottom: 50px
}