html {
    font-size: 14px;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: #343A40;
}

.navbar-anchor-links {
    color: #adb0b3 !important;
    font-size: 16px;
}

.main {
    margin-top: 75px;
}

.garrett-anchor {
    color: white !important;
    font-family: 'comfortaa', sans-serif;
    font-size: 24px;
}

.anchor-links {
    display: inline-block;
    position: relative;
    color: #1797ff;
}

.anchor-links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: #1797ff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.anchor-links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-primary {
    color: white;
    cursor: pointer;
    border: none;
    transition: all .5s ease-in-out;
}

.btn-primary:hover {
    color: white;
    transform: scale(1.05);
    opacity: 0.8;
    text-decoration: none;
}

.btn-primary:active {
    opacity: 0.5;
}

.btn-primary:focus {
    outline: none;
}

html {
    position: relative;
    min-height: 100%;
    /* Always keeps scroll bar visible */
    overflow-y: scroll;
}

/* Scrollbar track */
::-webkit-scrollbar {
    width: 17px; 
    background-color: #333; 
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #666666;
    border-radius: 6px; 
}

/* Scrollbar buttons (arrows) */
::-webkit-scrollbar-button {
    background-color: #666666;
}

/* Scrollbar corner (bottom-right) */
::-webkit-scrollbar-corner {
    background-color: #333; 
}

body {
    background-image: url("../img/bg-stars.gif");
    background-attachment: fixed;
    background-repeat: repeat;
    border: hidden;
    margin: 0;
    padding: 0;
}

.icon-effect {
    text-decoration: none;
}

.icon-effect:hover {
    opacity: 0.8;
    text-decoration: none;
}

.icon-effect:active {
    opacity: 0.5;
}

.icon-effect:focus {
    outline: none;
}

.gray-content-box-padding {
    padding-top: 2rem; padding-bottom: 2rem
}

.gray-content-box {
    padding: 2rem;
    background-color: rgba(26, 30, 33, 50%);
    border-radius: 25px;
    margin-bottom: 3rem;
}