<div class="gray-content-box-padding">
    <div class="container pt-2 text-white gray-content-box">
        <div class="row">
            <h1 class="col-12 text-center text-warning pt-3" style="font-size: 48px">@ViewData["Title"]</h1>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h3 style="padding-top: 1rem">Who is Kaleb?</h3>
                    <p style="padding-top: 1rem">
                        Hi, my name is Kaleb Garrett! I like solving programming problems and thrive on challenges. In my spare time, I am most notably known for coding,
                        playing video games, playing guitar, traveling, and playing soccer.
                    </p>
                    <h3>How did I began my programming journey?</h3>
                    <p style="padding-top: 1rem">
                        I knew I wanted to do something that involved computers and technology, but I did not know what exactly I wanted to do. It wasn't until
                        I started watching my brother create web applications from start to finish that I started taking interest in full stack development. My brother
                        recommeneded that I learn C# and SQL to add on to my already built on knowledge of HTML and CSS to create my own web applications. Before I realized
                        it, I began searching for my own coding problems to attempt, and I have continued to do so ever since.
                    </p>
                    <h3>What's in store for the future?</h3>
                    <p style="padding-top: 1rem">
                        My goal is to learn more about programming from algorithms to design patterns and to
                        further develop my critical thinking, creativity, and problem solving skills. I do not want to stay stagnant,
                        I want to learn and expand my palette of knowledge everyday.
                    </p>
                </div>
                <div class="col-xs-12 col-md-6 text-center align-self-center">
                    <img src="/img/profile-pic-holder.png" alt="Kaleb Garrett" class="profile-pic" style="width: 216px !important; height: 216px !important;"/>
                </div>
            </div>
        </div>
    </div>
</div>