<section class="container-fluid">
    <div class="row text-center title-row">
        <div class="col-12">
            <h3 class="title-text">KALEB GARRETT</h3>
            <p class="lead text-warning" style="font-size: 40px">Full Stack Software Developer</p>
            <p class="passion-statement" style="font-size: 36px">Passionate about .NET</p>
        </div>
    </div>
</section>

<section class="container-fluid text-white skill-section">
    <div class="row">
        <h1 class="col-12 text-center text-warning skill-bar-title">My Coding Skills</h1>
    </div>
    <div class="row gy-3 mt-4">
        <div class="col-md-4">
            <div class="skill-bar">
                <div class="skill-circle" data-value="80"></div>
                <div class="skill-name">HTML</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="skill-bar">
                <div class="skill-circle" data-value="70"></div>
                <div class="skill-name">CSS</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="skill-bar">
                <div class="skill-circle" data-value="60"></div>
                <div class="skill-name">JavaScript</div>
            </div>
        </div>
    </div>
    <div class="row gy-3 mt-4">
        <div class="col-md-6">
            <div class="skill-bar">
                <div class="skill-circle" data-value="80"></div>
                <div class="skill-name">C#</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="skill-bar">
                <div class="skill-circle" data-value="70"></div>
                <div class="skill-name">SQL</div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid transparent-bg">
    <div class="container">
        <div class="row">
            <h2 class="col-12 text-warning text-center" style="font-weight: initial">All Technologies</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-light p-5">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div>
                            <h3 class="text-center">Languages</h3>
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JavaScript</li>
                                <li>C#</li>
                                <li>SQL</li>
                            </ul>
                        </div>
                        <div>
                            <h3 class="text-center">Tools</h3>
                            <ul>
                                <li>Rider</li>
                                <li>Visual Studio</li>
                                <li>Visual Studio Code</li>
                                <li>Azure</li>
                                <li>MongoDB</li>
                                <li>GitHub</li>
                                <li>Git</li>
                                <li>Fork</li>
                                <li>Docker</li>
                            </ul>
                        </div>
                        <div>
                            <h3 class="text-center">Frameworks</h3>
                            <ul>
                                <li>.NET Framework</li>
                                <li>ASP.NET Core</li>
                                <li>Entity Framework</li>
                                <li>Bootstrap</li>
                                <li>Jquery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>