<div class="container-fluid">
    <div class="row text-center" style="height: 75%; padding-bottom: 6rem">
        <div class="col-12">
            <h3 class="title-text">KALEB GARRETT</h3>
            <p class="lead text-warning" style="font-size: 30px">Full Stack Software Developer</p>
            <p class="passion-statement">Passionate about .NET</p>
            <br/>
            <img src="img/pixelated-pic.png" alt="Avatar" class="profile-pic"/>
        </div>
    </div>
</div>

<div style="padding-top: 26rem;">
    <div class="container-fluid transparent-bg">
        <div class="row">
            <h2 class="col-12 text-warning text-center">Technologies</h2>
        </div>
        <div class="col-12">
            <div class="text-light p-5">
                <div class="d-flex flex-wrap justify-content-between">
                    <div>
                        <h3 class="text-center">Languages</h3>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>C#</li>
                            <li>SQL</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-center">Tools</h3>
                        <ul>
                            <li>Rider</li>
                            <li>Visual Studio</li>
                            <li>Visual Studio Code</li>
                            <li>GitHub</li>
                            <li>Fork</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-center">Frameworks</h3>
                        <ul>
                            <li>ASP.NET Core</li>
                            <li>Entity Framework</li>
                            <li>Bootstrap</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>