@{
    ViewData["Title"] = "Kaleb Garrett";
}

<section class="container">
    <div class="row text-center title-row">
        <div class="col-12">
            <h3 class="title-text"></h3>
            <p class="lead fullstack-dev"></p>
            <p class="passion-statement"></p>
        </div>
    </div>
</section>

<section class="container-fluid text-white skill-section" id="skills">
    <div class="row">
        <h1 class="col-12 text-center text-warning skill-bar-title">Coding Skills</h1>
    </div>
    <div class="row mt-4 gy-5">
        <div class="col-md-3 text-center">
            <div class="circular-progress">
                <span class="progress-value">0%</span>
            </div>
            <span class="skill-bar-text">HTML & CSS</span>
            <button class="btn btn-primary mt-2 w-50" data-bs-toggle="collapse" data-bs-target="#dropDown1">More Info</button>
            <div id="dropDown1" class="collapse gray-content-box mt-4 mx-auto">
                <h5>Description:</h5>
                <p>
                    As a full-stack developer, I possess a solid foundation in HTML and CSS,
                    enabling me to craft visually appealing and functional websites. My skills
                    in HTML and CSS are a testament to my ability to bring web design concepts to life.
                </p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="circular-progress">
                <span class="progress-value">0%</span>
            </div>
            <span class="skill-bar-text">JavaScript</span>
            <button class="btn btn-primary mt-2 w-50" data-bs-toggle="collapse" data-bs-target="#dropDown2">More Info</button>
            <div id="dropDown2" class="collapse gray-content-box mt-4 mx-auto">
                <h5>Description:</h5>
                <p>
                    As a full-stack developer, I possess a versatile skill set in JavaScript, the cornerstone
                    of modern web development. My expertise in JavaScript extends from front-end interactivity to back-end
                    server-side scripting, allowing me to create dynamic and feature-rich web applications.
                </p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="circular-progress">
                <span class="progress-value">0%</span>
            </div>
            <span class="skill-bar-text">C#</span>
            <button class="btn btn-primary mt-2 w-50" data-bs-toggle="collapse" data-bs-target="#dropDown3">More Info</button>
            <div id="dropDown3" class="collapse gray-content-box mt-4 mx-auto">
                <h5>Description:</h5>
                <p>
                    As a seasoned software developer, I bring a plethora of knowledge in C# to the table. I am skilled in
                    using C# for web development, particularly with ASP.NET. I can build dynamic and high-performance
                    web applications that leverage the ASP.NET framework for server-side processing and database interaction.
                </p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="circular-progress">
                <span class="progress-value">0%</span>
            </div>
            <span class="skill-bar-text">SQL</span>
            <button class="btn btn-primary mt-2 w-50" data-bs-toggle="collapse" data-bs-target="#dropDown4">More Info</button>
            <div id="dropDown4" class="collapse gray-content-box mt-4 mx-auto">
                <h5>Description:</h5>
                <p>
                    As a full-stack developer, I possess a wealth of expertise in Structured Query Language (SQL), the cornerstone
                    of managing and manipulating relational databases. My SQL proficiency empowers me to design, optimize, and maintain 
                    databases that serve as the backbone for data-driven applications and systems.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid technologies-section" id="technologies">
    <div class="container">
        <div class="row">
            <h2 class="col-12 text-warning text-center technologies-title">Technologies</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-light p-5">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div>
                            <h3 class="text-center">Languages</h3>
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JavaScript</li>
                                <li>C#</li>
                                <li>SQL</li>
                            </ul>
                        </div>
                        <div>
                            <h3 class="text-center">Tools</h3>
                            <ul>
                                <li>Rider</li>
                                <li>Visual Studio</li>
                                <li>Visual Studio Code</li>
                                <li>Azure</li>
                                <li>MongoDB</li>
                                <li>GitHub</li>
                                <li>Git</li>
                                <li>Fork</li>
                                <li>Docker</li>
                            </ul>
                        </div>
                        <div>
                            <h3 class="text-center">Frameworks</h3>
                            <ul>
                                <li>.NET Framework</li>
                                <li>ASP.NET Core</li>
                                <li>Entity Framework</li>
                                <li>Bootstrap</li>
                                <li>Jquery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>