<section class="container">
    <div class="row text-center title-row">
        <div class="col-12">
            <h3 class="title-text"></h3>
            <p class="lead fullstack-dev"></p>
            <p class="passion-statement"></p>
        </div>
    </div>
</section>

<section class="container-fluid text-white skill-section" id="skills">
    <div class="row">
        <h1 class="col-12 text-center text-warning skill-bar-title">Coding Skills</h1>
    </div>
    <div class="row mt-4 gy-5">
        <div class="col-md-3 text-center">
            <div class="circular-progress">
                <span class="progress-value">0%</span>
            </div>
            <span class="skill-bar-text">HTML & CSS</span>
        </div>
        <div class="col-md-3 text-center">
            <div class="circular-progress">
                <span class="progress-value">0%</span>
            </div>
            <span class="skill-bar-text">JavaScript</span>
        </div>
        <div class="col-md-3 text-center">
            <div class="circular-progress">
                <span class="progress-value">0%</span>
            </div>
            <span class="skill-bar-text">C#</span>
        </div>
        <div class="col-md-3 text-center">
            <div class="circular-progress">
                <span class="progress-value">0%</span>
            </div>
            <span class="skill-bar-text">SQL</span>
        </div>
    </div>
</section>

<section class="container-fluid technologies-section">
    <div class="container">
        <div class="row">
            <h2 class="col-12 text-warning text-center technologies-title">Technologies</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-light p-5">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div>
                            <h3 class="text-center">Languages</h3>
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JavaScript</li>
                                <li>C#</li>
                                <li>SQL</li>
                            </ul>
                        </div>
                        <div>
                            <h3 class="text-center">Tools</h3>
                            <ul>
                                <li>Rider</li>
                                <li>Visual Studio</li>
                                <li>Visual Studio Code</li>
                                <li>Azure</li>
                                <li>MongoDB</li>
                                <li>GitHub</li>
                                <li>Git</li>
                                <li>Fork</li>
                                <li>Docker</li>
                            </ul>
                        </div>
                        <div>
                            <h3 class="text-center">Frameworks</h3>
                            <ul>
                                <li>.NET Framework</li>
                                <li>ASP.NET Core</li>
                                <li>Entity Framework</li>
                                <li>Bootstrap</li>
                                <li>Jquery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>