@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center" style="height: 75%">
    <div class="col-md-12">
        <h1 class="title-text">KALEB GARRETT</h1>
        <p class="lead text-warning" style="font-size: 32px">Full Stack Software Developer</p>
        <br/>
        <img src="img/profile-pic.JPG" alt="Avatar" class="profile-pic"/>
    </div>
</div>