@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center" style="height: 75%">
    <div class="col-md-12">
        <h1 class="title-text">KALEB GARRETT</h1>
        <p class="lead text-warning" style="font-size: 36px">Full Stack Software Developer</p>
        <p class="passion-statement">Passionate about .NET</p>
        <br/>
        <br/>
        <img src="img/profile-pic-holder.png" alt="Avatar" class="profile-pic"/>
    </div>
</div>

<!-- Add anchor for skills section and add bars for skills with opacity box -->