<!-- Add more info drop down feature -->
<div style="padding-top: 2rem; padding-bottom: 2rem">
    <div class="container-fluid gray-content-box">
        <div class="d-flex flex-wrap align-content-start justify-content-around card-padding">

            <div class="col-12 text-light" style="padding-top: 2rem">
                <h2 class="text-center text-warning" style="font-size: 48px">@ViewData["Title"]</h2>
            </div>
            
            <div class="card text-center" style="width: 24rem;">
                <img src="/img/portfolio-card-img.JPG" alt="Project card image">
                <div class="card-body">
                    <h5 class="card-title lead">
                        <b>Portfolio Website</b>
                    </h5>
                    <p class="card-text ">
                        <div class="lead">
                            Description:
                        </div>
                        My portfolio website built with .NET MVC hosted on Azure to my practice front-end skills
                        and to display the projects I have created.
                    </p>
                </div>
                <div class="text-center">
                    <button class="btn btn-warning w-75" data-toggle="collapse" data-target="#card1">More Info</button>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <a href="https://kalebgarrett.azurewebsites.net/" class="card-link" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-microsoft" style="color: #f0ad4e; font-size: 24px;"></i>
                    </a>

                    <a href="https://github.com/KalebGarrett/Portfolio" class="card-link" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-github" style="color: #f0ad4e; font-size: 24px;"></i>
                    </a>
                </div>
            </div>

            <div class="card text-center" style="width: 24rem;">
                <img src="/img/amiibo-card-img.jpg" alt="Project card image">
                <div class="card-body">
                    <h5 class="card-title lead">
                        <b>Amiibos Web App</b>
                    </h5>
                    <p class="card-text">
                        <div class="lead">
                            Description:
                        </div>
                        A Nintendo Amiibo information app built with .NET MVC that pulls from Amiibo's API.
                    </p> <br>
                </div>
                <div class="text-center">
                    <button class="btn btn-warning w-75" data-toggle="collapse" data-target="#card2">More Info</button>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <a href="https://amiibos.azurewebsites.net/" class="card-link" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-microsoft" style="color: #f0ad4e; font-size: 24px;"></i>
                    </a>

                    <a href="https://github.com/KalebGarrett/Amiibo" class="card-link" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-github" style="color: #f0ad4e; font-size: 24px;"></i>
                    </a>
                </div>
            </div>

            <div class="card text-center" style="width: 24rem;">
                <img src="/img/central-plaza-card-img.JPG" alt="Project card image">
                <div class="card-body">
                    <h5 class="card-title lead">
                        <b>Central Plaza Console App</b>
                    </h5>
                    <p class="card-text ">
                        <div class="lead">
                            Description:
                        </div>
                        A console app demonstrating Inheritance and Polymorphism.
                    </p>
                </div>
                <div class="text-center">
                    <button class="btn btn-warning w-75" data-toggle="collapse" data-target="#card1">More Info</button>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <a href="https://github.com/KalebGarrett/CentralPlaza" class="card-link" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-github" style="color: #f0ad4e; font-size: 24px;"></i>
                    </a>
                </div>
            </div>

            <div class="card text-center" style="width: 24rem;">
                <img src="/img/fish-watch-card-img.jpg" alt="Project card image">
                <div class="card-body">
                    <h5 class="card-title lead">
                        <b>Fish Watch Web App</b>
                    </h5>
                    <p class="card-text">
                        <div class="lead">
                            Description:
                        </div>
                        A seafood information app built with .NET MVC that pulls from Fish Watches API.
                    </p> <br>
                </div>
                <div class="text-center">
                    <button class="btn btn-warning w-75" data-toggle="collapse" data-target="#card2">More Info</button>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <a href="https://amiibos.azurewebsites.net/" class="card-link" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-microsoft" style="color: #f0ad4e; font-size: 24px;"></i>
                    </a>

                    <a href="https://github.com/KalebGarrett/Amiibo" class="card-link" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-github" style="color: #f0ad4e; font-size: 24px;"></i>
                    </a>
                </div>
            </div>

            <div class="card text-center" style="width: 24rem;">
                <img src="/img/calculator-card-img.jpg" alt="Project card image">
                <div class="card-body">
                    <h5 class="card-title lead">
                        <b>Calculator - Static Website</b>
                    </h5>
                    <p class="card-text">
                        <div class="lead">
                            Description:
                        </div>
                        A calculator that allows you to do basic arithmetic.
                    </p> <br>
                </div>
                <div class="text-center">
                    <button class="btn btn-warning w-75" data-toggle="collapse" data-target="#card2">More Info</button>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <a href="https://github.com/KalebGarrett/Calculator" class="card-link" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-github" style="color: #f0ad4e; font-size: 24px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>