<div class="gray-content-box-padding">
    <div class="container-fluid gray-content-box">
        <div class="row">
            <div class="col-12 text-center text-white pt-3">
                <h2>@ViewData["Title"]</h2>
                <a href="https://kalebgarrett.azurewebsites.net" class="text-warning return-home-anchor">Return to Homepage</a>
            </div>
        </div>
    </div>
</div>