@{
    ViewData["Title"] = "Submission";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center text-white pt-3" style="font-size: 18px">
            <h2>Your message was successfully submitted!</h2>
            <a href="https://kalebgarrett.azurewebsites.net" class="text-primary return-home-anchor">
                Return to Homepage
            </a>
        </div>
    </div>
</div>